.textColor {
  color: #444;
}
.headingColor {
  color: #777;
}
.dividerColor {
  color: #777;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #777;
  background-color: #ffffff;
  text-align: center;
  width: 80%;
  margin-left: 10%;
}
.myforms {
	color: #777;
}
.mytext {
	font-size: 400%;
}
#mymargin {
	height: 170px;
}
#mainSection {
	margin-top: 80px;
}
#sectionBody {

}
#myNav {
	box-shadow: 0px 0px 20px 0px #000;
    -moz-box-shadow: 0px 0px 20px 0px #000;
	-webkit-box-shadow: 0px 0px 20px 0px #000;
}
.mydividers {
 border:none;
 width:85%;
 background-color: #777;
 height: 2px;
 margin-top:40px;
}