.eventDiv {
	width: 80%;
  	margin-left: 10%;
}
.eventNames {
	margin-top: 50px;
	margin-bottom: 20px;
}
.eventDescription {
	text-align: left;
}
.eventTimeDiv {
	text-align: left;
	width: 30%;
  	margin-left: 35%;
  	margin-bottom: 60px;
}