body {
  font-family: Arial, Helvetica, sans-serif;
  color: #777;
  background-color: #ffffff;
  text-align: center;
  width: 80%;
  margin-left: 10%;
}
.myforms {
	color: #777;
}
.mytext {
	font-size: 400%;
}
#mymargin {
	height: 170px;
}
#mainSection {
	margin-top: 80px;
}
#sectionBody {

}
#myNav {
	box-shadow: 0px 0px 20px 0px #000;
    -moz-box-shadow: 0px 0px 20px 0px #000;
	-webkit-box-shadow: 0px 0px 20px 0px #000;
}

.speakerImage {
	margin-right: 30px;
}
.speakerDiv {
	width: 80%;
  	margin-left: 10%;
}
.speakerNames {
	margin-top: 30px;
	margin-bottom: 20px;
}
.speakerDescription {
}